<html>
    <body>
        <form method='post' action='/data'>
            
            <input type='number' name='preg' placeholder='Number of times pregnant' required='required'>
            <input type='number' name='plas' placeholder='Plasma glucose concentration' required='required'>
            <input type='number' name='pres' placeholder='Diastolic blood pressure (mm Hg)' required='required'>
            <input type='number' name='skin' placeholder='Triceps skin fold thickness (mm)' required='required'>
            <input type='number' name='test' placeholder='2-Hour serum insulin (mu U/ml)' required='required'>
            <input type='number' name='mass' placeholder='Body mass index (weight in kg/(height in m)^2)' required='required'>
            <input type='number' name='pedi' placeholder='Diabetes pedigree function' required='required'>
            <input type='number' name='age' placeholder='Age (years)' required='required'>
            <!-- <input type='number' name='class' placeholder='Plasma glucose concentration' required='required'> -->
            <button>submit</button>
        </form>
    </body>
</html>

